@font-face {
    font-family: Norse;
    src: url(fonts/norse.woff2), url(fonts/norse.woff);
}

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(248, 248, 248);
    font-family: Roboto;
    display: flex;
    align-items: stretch;
    height: 100vh;
    margin: 0;
}

.left-side{
    width: 40%;
    background-image: url(images/bg-img.jpg);
    background-size: cover;
    position: relative;
}

.right-side{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 40px;
    position: relative;
}

.text-bg{
    width: 100%;
    background-color: rgba(38, 38, 38, 0.297);
    position: absolute;
    top: 25%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.logo-img{
    height: 180px;
}

.logo-text{
    font-family: Norse;
    font-size: 180px;
    color: rgb(243, 243, 243);
}

.copyright{
    color: #ffffff;
    position: absolute;
    bottom: 5px;
    left: 250px;
    background-color: rgba(0, 0, 0, 0.581);
}

p{
    font-size: 30px;
    font-weight: bold;
    line-height: 2.2rem;
    width: 1000px;
}

.signup-form{
    background-color: #ffffff;
    width: 100%;
    margin: 0 -40px;
    width: calc(100% + 80px);
    padding: 0 40px;
}

.form-container{
    display: flex;
    gap: 40px;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    width: 40%;
}

label{
    color: rgb(59, 58, 58);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 3px;
}

input{
    margin-bottom: 25px;
    width: 350px;
    height: 35px;
    font-size: 20px;
    padding: 0 8px;
    border: 2px solid rgba(59, 57, 57, 0.2);
    border-radius: 5px;
    outline: none;
}

input:invalid{
    border: 2px solid rgba(255, 53, 53, 0.7);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.222);
}

input:focus{
    border: 2px solid rgb(53, 151, 255);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.222);
}

.button{
    color: white;
    font-size: 20px;
    font-weight: 900;
    background-color: rgb(253,132,1);
    width: 250px;
    height: auto;
    padding: 15px;
    margin-top: 50px;
    border-radius: 8px;
    border: none;
    margin-bottom: 0;
}

.button:hover, .button:focus{
    cursor: pointer;
    background-color: rgb(227, 119, 4);
}

.button:focus{
    border: none;
    box-shadow: none;
}

.button:active{
    background-color: black;
}

.login-text{
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
}

a{
    text-decoration: none;
    color: rgb(253,132,1);
}

a:hover{
    color: rgb(187, 98, 3);
}

a:active{
    color: black;
}